/* COLORS */

:root {
  --btn-color: #af5032;
  --btn-hover-color: #c75d3c;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  z-index: 0;
}

.paragraph,
.list {
  line-height: 1.4;
  font-size: 1.1em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  display: block;
	border: 0;
	width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  background: var(--btn-color);
  border: 0;
  border-radius: 50px;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  transition: 0.25s;
  color:#fff
}

.btn:hover,
.btn:focus {
  box-shadow: inset 11em 0 0 0 var(--btn-hover-color);
  color: #fff;
}

/* NAVBAR */

.home-link:hover,
.menu__link:hover {
  color: #fff;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  font-weight: 500;
  font-size: 1.4em;
  z-index: 3;
  transition: height .3s ease-in-out;
}

.navbar__container {
  margin: 0 auto;
  max-width: 1360px;
  height: 100%;
  display: flex;
  align-items: center;
}

.home-link {
  width: 100%;
}

.menu-container {
  width: 100%;
}

.menu {
  justify-content: flex-end;
  display: flex;
  list-style: none;
}

.menu__item:not(:last-child) {
  padding-right: 2em;
}

/* HEADER */

.header {
  min-height: 112vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7ccc8;
  flex-wrap: wrap;
  background-image: url(./img/header_bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
  -webkit-clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
}

.header__text {
  padding: 3em 0;
  align-self: center;
  max-width: 40rem;
}

.header__heading {
  font-size: 5.2vw;
  line-height: 1.1;
  letter-spacing: .03em;
}

.header__subheading {
  font-size: 2vw;
  margin-bottom: 0;
  letter-spacing: .05em;
}

.header__btn {
  border-color: var(--btn-color);
  font-size: 1vw;
  margin: .4em 0;
}
.rocket-man {
  width: 40vw;
  padding-bottom: 80px;
  animation: shake 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 1520px) {
  .navbar__container {
    margin: 0 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .rocket-man {
    width: 60vw;
  }

  .header__text {
    width: 60vw;
    padding-top: 20vh;
    text-align: center;
  }

  .header__heading {
    font-size: 10vw;
  }
  
  .header__subheading {
    font-size: 3vw;
  }

  .header__btn {
    font-size: 2vw;
  }
}


@media only screen and (max-width: 768px) {
  .navbar__container {
    margin: 0 20px;
  }

  .rocket-man {
    width: 80%;
  }

  .header__text {
    padding-top: 10vh;
  }

  .header__heading {
    font-size: 12vw;
  }
  
  .header__subheading {
    font-size: 4vw;
  }

  .header__btn {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 578px) {
  .navbar {
    font-size: 1.2em;
  }

  .header {
    padding-left: 20px;
    padding-right: 20px;
  }

}

/* PORTFOLIO */

.portfolio {
  max-width: 1360px;
  margin: 0 auto;
}

.section-heading {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1.5em;
  font-size: 3em;
}

.cards {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 3em;
  background-color: #efebe9;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  flex: 0 1 40%;
}

.card:hover .card__image {
  filter: contrast(100%)
}

.card__content {
  padding: 1em;
}

.card__image {
  align-self: center;
  filter: contrast(70%);
  transition: filter .4s;
}

.card__title {
  font-size: 1.6em;
  font-weight: 700;
  padding: .5em 1em;
}

.card__text {
  font-size: 1.1em;
  padding: 0 1em;
}

.card__link {
  color: #f57c00;
}

.card__link:hover {
  color: #bb4d00;
}

.card__btn {
  min-width: 30%;
  align-self: center;
}

@media only screen and (max-width: 1024px) {
  .portfolio__heading {
    padding-top: 1.5em;
    padding-bottom: 1em;
  }
}

@media only screen and (max-width: 960px) {
  .card {
    flex: 0 1 100%;
  }
}

/* ABOUT ME */

.about {
  max-width: 1360px;
  margin: 0 auto;
}

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.about__photo {
  width: 25%;
}

.about__img {
  border-radius: 50%;
  animation: pulse 2s infinite;
  box-shadow: 0 0 0 rgba(96,68,57, 0.4);
}

.about__content {
  padding: 0 5em;
  width: 50%;
}

.about__btn {
  margin-left: 0;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(207,176,156, 0.4);
    box-shadow: 0 0 0 0 rgba(207,176,156, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(207,176,156, 0);
      box-shadow: 0 0 0 15px rgba(207,176,156, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(207,176,156, 0);
      box-shadow: 0 0 0 0 rgba(207,176,156, 0);
  }
}

/* CONTACT */

.contact {
  text-align: center;
  padding-bottom: 4em;
  clip-path: polygon(0 10%,100% 0,100% 100%,0 100%);
  background: rgb(215,204,200);
  background: linear-gradient(180deg, rgba(215,204,200,1) 0%, rgba(208,195,190,1) 35%, rgba(201,186,180,1) 100%);
}

.contact__heading {
  padding-bottom: 0;
}

.contact__link {
  font-size: 1.4em;
  margin: 1em 0;
  vertical-align: middle;
}

.contact__link:hover {
  color: var(--btn-hover-color);
}

.contact__text {
  font-size: 2em;
}

.contact__link {
  display: block;
}

/* FOOTER */

.footer {
  background-color: #af9b8a;
}

.footer__icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.footer__icon {
  padding: 0 2em;
  font-size: 1.6em;
  transition: transform .2s ease-in-out;
}

.footer__icon:hover {
  color: var(--btn-hover-color);
  transform: translateY(-.2em);
}

/* EXTRA ANIMATIONS */

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}